<body>
  <%# <div class="edit-form">
    <%= form_with url: "/artists/#{@artists.id}/edit", method: :post, local: true do |form| %>

      <%# <%= form.label :name, "Name:" %> 
      <%# <%= form.text_field :name %> 
      <%# <br><br> %>
      <%# <%= form.label :city, "City:" %> 
      <%# <%= form.text_field :city%> 
      <%# <br><br> %>
      <%# <%= form.label :alive_today, "Alive Today?:" %> 
      <%# <%= form.check_box :alive_today%> 
      <%# <br><br> %>
      <%# <%= form.submit "Edit Artist", :class => "create-button"%> 
    <%# <% end %> 
  <%# </div> %> 

</body>