<body>
  <div class="right-button">
    <%= link_to "Welcome Page", "/" %>
    <%= link_to "New Artist", "/artists/new" %>
  </div>

  <div class="artist-header">
    <h1>Artists</h1>
  </div>

  <div class="artist-main">
    <% @artists.each do |artist|%>

      <div class="name-create">
        <div class="edit-button">
          <h3><%= artist.name %></h3>
          <%= button_to "Edit #{artist.name}", "/artists/#{artist.id}/edit", method: :get %>
        </div>
        <p>Created At: <%= artist.created_at %></p>
      </div>

      <%# <p>Born In: <%= artist.city</p>  %>
      <%# <p>Alive Today: <%= artist.alive_today</p>  %>
    <% end %>
  </div>

</body>
