<div class="right-button">
  <%= link_to "Welcome Page", "/" %>
  <%= link_to "New Artist", "/artists/new" %>
</div>

<div class="artist-header">
  <h1>Artists</h1>
</div>

<div class="artist-main">
  <% @artists.each do |artist|%>

    <div class="name-create">
        <h3><%= artist.name %></h3>
      <p>Created At: <%= artist.created_at %></p>
    </div>
    <%= button_to "Edit #{artist.name}", "/artists/#{artist.id}/edit", method: :get, :class => "edit-button" %>

    <%# <p>Born In: <%= artist.city</p>  %>
    <%# <p>Alive Today: <%= artist.alive_today</p>  %>
  <% end %>
</div>