<div class="right-button">
  <%= link_to "#{@artist.name}'s Photos", "/artists/#{@artist.id}/works" %>
  <%= link_to "Welcome Page", "/" %>
</div>

<div class="artist-header">
  <h1><%= @artist.name %></h1>
</div>

<div class="artist-main">
  <div class="name-create">
    <h3>From: <%= @artist.city %></h3>
    <p>Number of Works: <%= @artist.work_count %></p>
  </div>
    <h3>Alive Today: <%= @artist.alive_today %></h3>

  <%= button_to "Delete #{@artist.name}", "/artists/#{@artist.id}/", method: :delete, :class => "edit-button" %>
  <%= button_to "Edit #{@artist.name}", "/artists/#{@artist.id}/edit", method: :get, :class => "edit-button" %>
</div>

