<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <link rel="stylesheet" href="stylesheets/works.css" title="text/css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <%= link_to "List of All Works", "/works" %>
    <%= yield %>
  </body>
</html>
